.dropdownSection {
    display: flex;
}

.dropdownSelectContainer {
    display: flex;
}

.dropdownSelect {
    width: 95%;
}

.dropdownSelectPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    cursor: pointer;
}